.card {
    padding: 2em;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

button {
    padding: 5px 5px;        
    border: 1px solid rgb(73, 73, 97);
}

input {
    border: 1px solid rgb(73, 73, 97);
    background-color: rgb(61, 76, 77);
    height: 28px;
    margin: 10px;
}