.link {
    color: rgb(155, 106, 106);
    text-decoration: none;
    font-size: 28px;
    padding-left: 10px;
  }
  
  .link:hover {
    color: #38447a;
  }
  
  .link:global.active {
    text-decoration: underline;
  }